<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3 px-5">
    <a class="navbar-brand" href="#">SMART Q</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="home">Главная</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="admin">Админ-панель</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="analytics" disabled>Analytics</a>
        </div>
    </div>
</nav>